/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9; /* Fondo gris claro */
    color: #333;
    line-height: 1.6;
}

/* Barra de navegación */
header {
    background-color: #1a1a1a; /* Fondo oscuro */
    color: #fff;
    padding: 20px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    font-size: 2.5em;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #00bcd4; /* Azul claro */
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.nav-links a:hover {
    color: #00bcd4; /* Azul claro en hover */
    transform: translateY(-3px);
}

.nav-links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Sección hero */
.hero {
    background-image: url('../images/pexels-robin-381450-1020370.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.hero-content h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.3em;
    margin-bottom: 30px;
    max-width: 600px;
    margin: 30px;
}

.cta-button {
    padding: 10px 30px;
    background-color: #00bcd4;
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0097a7; /* Azul más oscuro */
}

/* Footer */
footer {
    background-color: #1a1a1a; /* Fondo oscuro */
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-content {
    animation: fadeIn 1s ease-out;
}
